/*
  body
*/
body {
  margin-top: 7rem;
}
#main {
  width: 100%;
}

/*
  side-block:
*/
.side-block {
  margin-left: 1rem;
  padding-right: 4rem;
}

#copyright {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
  main block:
    #head
    #body
      #message
      #result
*/

.btn {
  margin: 0.2rem;
}


/*
  index.css
*/

.paragraph {
  text-indent: 1rem;
  margin-bottom: 1rem;
}

.paragraph::first-letter {
  font-size: 3.2rem;
}

.panel-title {
  font-size: 24px;
}

/*
  list.css
*/

#info .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}